<ion-header>
  <ion-toolbar>
    <ion-title>about-us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <div>
    <h1 class="text-pink-500 text-sm text-center font-bold">Acerca de nosotros</h1>
    <h1 class="text-slate-800 font-bold text-3xl text-center">Nuestra familia, <br> nuestra pasión:
    <br> Descubre la historia <br> detrás de Reyy Gas
    </h1>
    <br>
    <p class="text-slate-600  text-base text-center"> Calidad en suministro de Gas LP para <br> todos los sectores. Conoce a Reyy Gas: <br> 
      <span class="text-slate-800 text-base text-center font-bold"> Compromiso </span> y 
      <span class="text-slate-800 text-base text-center font-bold"> experiencia</span>
    </p>
    <img class="mt-10 mx-auto w-80" src="https://images.unsplash.com/photo-1609211373254-b52e03ba0c85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80">
  </div>
    <div class="mx-10 my-7">
      <div class="flex space-x-4 items-start justify-start">
        <div class="flex items-center justify-center p-2 rounded bg-fuchsia-100 w-8 h-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-pink-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
          </svg>
        </div>
        <div> <h4 class="text-slate-800 text-base font-extrabold">Tecnología</h4>
        <p class="text-slate-600 text-sm">
            La tecnología que usamos nunca te dejará <br> sin gas ¡100% de despacho garantizado en <br> 
            cada entrega!
        </p>
        </div> 
      </div>
      <br>
      <div class="flex space-x-4 items-start justify-start">
        <div class="flex items-center justify-center p-2 rounded bg-fuchsia-100 w-8 h-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-pink-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
          </svg> 
        </div>
        <div>
          <h4 class="text-slate-800 text-base font-extrabold">Personal</h4>
          <p class="text-slate-600 text-sm">
            Nuestro equipo esta a la altura de tus <br> expectativas: Capacitados constantemente <br>
            para brindarte el mejor servicio.
          </p>
        </div>
      </div>
      <br>
      <div class="flex space-x-4 items-start justify-start">
        <div class="flex items-center justify-center p-2 rounded bg-fuchsia-100 w-8 h-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-pink-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
          </svg>
        </div>
        <div>
          <h4 class="text-slate-800 text-base font-extrabold">Calidad garantizada</h4>
            <p class="text-slate-600 text-sm">
            Calidad que se siente: Experimenta una flama excepcional con nuestro producto.
            </p>
        </div>
      </div>
    </div>
    <div>
      <h1 class="text-pink-500 font-bold text-sm mx-10 text-justify justify-center" >MISIÓN</h1> 
      <h1 class="text-slate-800 font-bold text-lg text-center">Más que un  suministro de gas LP: <br> 
      Reyy Gas, tu aliado para el <br> crecimiento</h1>
      <p class="text-slate-700 text-sm  mx-10 justify-start"> En Reyy Gas estamos comprometidos con el éxtio de nuestros clientes, por eso no solo ofrecemos un suministro
        confiable de gas LP, sino también servicios de valor agregado en cada carga. Además, estamos orgullosos de generar
        más fuentes de empleo en cada una de nuestras opiniones. ¡Únete a nuestra familia y crece con nosotros!
      </p>
    </div>
    <br>
    <div>
      <h1 class="text-pink-500 font-bold text-sm mx-10 text-justify justify-center" >VISIÓN</h1> 
      <h1 class="text-slate-800 font-bold text-lg text-center mx-10"> Visión de grandeza: En Reyy Gas tenemos un plan 
        para lideral el mercado global de gas LP
      </h1>
      <p class="text-slate-700 text-sm  mx-10 justify-start"> Nuestro sueño es ambicioso, pero alcanzable. En el mediano plazo,
        nos porponemos ser la empresa número uno en la distribución de gas LP en todo México. Y en largo plazo, queremos 
        conquistar el mercado global y convertirnos en la empresa líder en distribución de gas LP en todo el mundo ¿Te unes a nosotros en esta misión?
      </p>
    </div>

    <div>
      <img class="mx-10 my-10 h-14 w-80" src="https://images.unsplash.com/photo-1608454770647-01dc0f7dd97d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80">
    </div>

    <div>
      <h1 class="text-pink-500 font-bold text-sm mx-10 text-justify justify-center" >VALORES</h1> 
      <h1 class="text-slate-800 font-bold text-lg text-center mx-10"> Nuestros valores, tu confianza: Una empresa de principios 
      </h1>
      <p class="text-slate-700 text-sm  mx-10 justify-start"> La prioridad son nuestros clientes y su satisfacción y es por eso que nuestra empresa
      </p>
    </div>

</div>
</ion-content>
