<ion-content>

  <div class="mx-5 mb-6">
    <img src="../../assets/images/logo.png" class="w-20 h-20 object-cover" alt="Reyy Gas Logo">

    <h1 class="subtitle-text">Iniciar Sesión</h1>

    <div>
      <p class="mb-14 text-sm text-slate-700"> ¿Aún no tienes una cuenta?
        <a class="text-blue-500 underline" [routerLink]="['/register']">Registrate aquí</a>
      </p>
    </div>

    <form [formGroup]="loginForm" class="space-y-2">
      <div>
        <ion-input type="email" placeholder="Correo Electrónico"
          class="bg-white border border-slate-200 placeholder-slate-400 rounded-md" formControlName="identifier">
        </ion-input>
        <span class="span-error" *ngIf="isSubmitted && errorControl.identifier.errors?.required">
          El correo es requerido.
        </span>
        <span class="span-error" *ngIf="isSubmitted && errorControl.identifier.errors?.email">
          Ingrese un correo electrónico válido.
        </span>
      </div>

      <div class="mb-8">
        <ion-input type="password" placeholder="Contraseña"
          class="bg-white border border-slate-200 placeholder-slate-400 rounded-md" formControlName="password">
        </ion-input>
        <span class="span-error" *ngIf="isSubmitted && errorControl.password.errors?.required">
          La contraseña es requerida.
        </span>
      </div>

      <div class="pt-6">
        <button class="btn-primary w-full" (click)="loginUser()">
          <ion-spinner name="dots" color="light" *ngIf="isSubmitted"></ion-spinner>
          <span *ngIf="!isSubmitted">
            Iniciar Sesión
          </span>
        </button>
        <a class="text-blue-500 underline mt-4 text-sm" [routerLink]="['/forgot-password']">¿Olvidaste tu contraseña?</a>
      </div>
    </form>

  </div>
</ion-content>