<ion-tabs>
  <ion-header class="ion-no-border" mode="android">
    <ion-toolbar>
      <div class="flex items-center px-3">
        <ion-title class="text-title text-2xl" color="primary">Reyy Gas</ion-title>
        <div class="flex gap-2">
          <div class="bg-green-600 hover:bg-green-700 text-white nav-icon ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd"
                d="M4.804 21.644A6.707 6.707 0 006 21.75a6.721 6.721 0 003.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 01-.814 1.686.75.75 0 00.44 1.223zM8.25 10.875a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zM10.875 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875-1.125a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="bg-slate-200 hover:bg-slate-300 text-slate-800 nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd"
                d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div id="optionsPopover" class="text-slate-800 hover:bg-slate-100 nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd"
                d="M10.5 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <ion-popover mode="ios" trigger="optionsPopover" triggerAction="click" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list lines="none">
                  <ion-item [button]="true" [detail]="false">
                    <ion-label>
                      <p class="flex items-center gap-2 font-medium text-sm text-slate-600">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                          <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                            clip-rule="evenodd" />
                        </svg>
                        <span class="">Sobre Nosotros</span>
                      </p>
                    </ion-label>
                  </ion-item>
                  <ion-item [button]="true" [detail]="false">
                    <ion-label>
                      <p class="flex items-center gap-2 font-medium text-sm text-slate-600">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                          <path
                            d="M13 4.5a2.5 2.5 0 11.702 1.737L6.97 9.604a2.518 2.518 0 010 .792l6.733 3.367a2.5 2.5 0 11-.671 1.341l-6.733-3.367a2.5 2.5 0 110-3.475l6.733-3.366A2.52 2.52 0 0113 4.5z" />
                        </svg>
                        <span class="">Redes Sociales</span>
                      </p>
                    </ion-label>
                  </ion-item>
                  <ion-item [button]="true" [detail]="false">
                    <ion-label>
                      <p class="flex items-center gap-2 font-medium text-sm text-slate-600">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                          <path
                            d="M11.983 1.907a.75.75 0 00-1.292-.657l-8.5 9.5A.75.75 0 002.75 12h6.572l-1.305 6.093a.75.75 0 001.292.657l8.5-9.5A.75.75 0 0017.25 8h-6.572l1.305-6.093z" />
                        </svg>
                        <span class="">Centro de Fugas</span>
                      </p>
                    </ion-label>
                  </ion-item>
                  <ion-item (click)="logout()" [button]="true" [detail]="false">
                    <ion-label>
                      <p class="flex items-center gap-2 font-medium text-sm text-slate-600">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                          <path fill-rule="evenodd"
                            d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z"
                            clip-rule="evenodd" />
                          <path fill-rule="evenodd"
                            d="M19 10a.75.75 0 00-.75-.75H8.704l1.048-.943a.75.75 0 10-1.004-1.114l-2.5 2.25a.75.75 0 000 1.114l2.5 2.25a.75.75 0 101.004-1.114l-1.048-.943h9.546A.75.75 0 0019 10z"
                            clip-rule="evenodd" />
                        </svg>
                        <span class="">Cerrar sesión</span>
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tips">
      <ion-icon aria-hidden="true" name="bulb"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recetas">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Recetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="call"></ion-icon>
      <ion-label>Números</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>