<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="text-title text-2xl" color="primary">Reyy Gas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="mx-5">
    <!-- Tip -->
    <div
      class="flex justify-start gap-4 border border-slate-200 bg-slate-100 rounded-md p-4 text-slate-500 text-sm mt-12">
      <ion-icon class="w-14 h-14 text-amber-500" aria-hidden="true" name="bulb"></ion-icon>
      <p>Descubre cómo sacar el máximo provecho a tu tanque de gas con nuestros tips. ¡Te sorprenderás de lo fácil que
        es! </p>
    </div>

    <!-- Tips -->
    <div class="bg-orange-50 p-4 rounded-sm my-14 border-l-2 border-orange-500 ">
      <div class="flex gap-3 items-center">
        <span class="flex w-4 h-4 p-4 items-center justify-center bg-orange-500 text-white rounded-full">
          1
        </span>
        <p class="text-gray-800 text-sm">Controla el flujo de gas</p>
      </div>

    </div>
  </div>
</ion-content>