<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      <div class="bg-red-50 w-12 h-12 border-red-500 border">
        <div class="h-2 w-2 bg-red-500"></div>
      </div>
      <div class="bg-orange-50 w-12 h-12 border-orange-500 border">
        <div class="h-2 w-2 bg-orange-500"></div>
      </div>
      <div class="bg-amber-50 w-12 h-12 border-amber-500 border">
        <div class="h-2 w-2 bg-amber-500"></div>
      </div>
      <div class="bg-yellow-50 w-12 h-12 border-yellow-500 border">
        <div class="h-2 w-2 bg-yellow-500"></div>
      </div>
      <div class="bg-lime-50 w-12 h-12 border-lime-500 border">
        <div class="h-2 w-2 bg-lime-500"></div>
      </div>
      <div class="bg-green-50 w-12 h-12 border-green-500 border">
        <div class="h-2 w-2 bg-green-500"></div>
      </div>
      <div class="bg-emerald-50 w-12 h-12 border-emerald-500 border">
        <div class="h-2 w-2 bg-emerald-500"></div>
      </div>
      <div class="bg-teal-50 w-12 h-12 border-teal-500 border">
        <div class="h-2 w-2 bg-teal-500"></div>
      </div>
      <div class="bg-cyan-50 w-12 h-12 border-cyan-500 border">
        <div class="h-2 w-2 bg-cyan-500"></div>
      </div>
      <div class="bg-sky-50 w-12 h-12 border-sky-500 border">
        <div class="h-2 w-2 bg-sky-500"></div>
      </div>
      <div class="bg-blue-50 w-12 h-12 border-blue-500 border">
        <div class="h-2 w-2 bg-blue-500"></div>
      </div>
      <div class="bg-indigo-50 w-12 h-12 border-indigo-500 border">
        <div class="h-2 w-2 bg-indigo-500"></div>
      </div>
      <div class="bg-violet-50 w-12 h-12 border-violet-500 border">
        <div class="h-2 w-2 bg-violet-500"></div>
      </div>
      <div class="bg-purple-50 w-12 h-12 border-purple-500 border">
        <div class="h-2 w-2 bg-purple-500"></div>
      </div>
      <div class="bg-fuchsia-50 w-12 h-12 border-fuchsia-500 border">
        <div class="h-2 w-2 bg-fuchsia-500"></div>
      </div>
      <div class="bg-pink-50 w-12 h-12 border-pink-500 border">
        <div class="h-2 w-2 bg-pink-500"></div>
      </div>
      <div class="bg-rose-50 w-12 h-12 border-rose-500 border">
        <div class="h-2 w-2 bg-rose-500"></div>
      </div>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
