<ion-content [fullscreen]="true">
  <div class="mt-24">
    <!-- Tip general -->
    <div
      class="flex justify-start gap-4 border border-slate-200 bg-slate-100 rounded-md p-4 text-slate-500 text-sm mt-12 mx-5">
      <ion-icon class="w-14 h-14 text-yellow-500" aria-hidden="true" name="bulb"></ion-icon>
      <p>Descubre cómo sacar el máximo provecho a tu tanque de gas con nuestros tips. ¡Te sorprenderás de lo fácil que
        es! </p>
    </div>

    <div class="mt-20">
      <ion-list class="space-y-4">
        <ion-item lines="none" *ngFor="let tip of tips" [routerLink]="['/tabs/tip/' + tip.id]">
          <div class="p-4 rounded-sm w-full border-l-[3px]"
          [ngClass]="'bg-' + tip.colors + '-50' + ' border-' + tip.colors + '-500'"
          >
            <div class="flex gap-3 items-center">
              <span class="flex w-4 h-4 p-4 items-center justify-center text-white rounded-full"
              [ngClass]="'bg-' + tip.colors + '-500'"
              >
                {{tip.id}}
              </span>
              <p class="text-gray-800 text-sm">
                {{tip.titulo}}
              </p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>