<ion-content>
  <div class="mt-20">
    <div class="mx-4">
      <ion-buttons>
        <ion-back-button defaultHref="tabs/tips">
        </ion-back-button>
      </ion-buttons>

      <img class="w-full h-64 mt-4 object-cover rounded"
        src="{{tip.imagen}}"
        alt="">
      <div class="my-6">
        <h1 class="text-lg font-bold text-slate-800">{{tip.titulo}}</h1>
        <p class="text-slate-700">
          {{tip.descripcion}}
        </p>
      </div>
      <div class="mx-auto">

      </div>
    </div>
  </div>
</ion-content>