<ion-content>
  <div class="mx-4">
    <ion-buttons>
      <ion-back-button defaultHref="tabs/tips">
      </ion-back-button>
    </ion-buttons>

    <!-- Loader Skeleton -->
    <ion-list *ngIf="!loaded">
      <ion-thumbnail class="w-full h-64" slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>

      <div class="my-6">
        <h2>
          <ion-skeleton-text [animated]="true" class="w-64 h-6"></ion-skeleton-text>
        </h2>
        <p class="mt-4">
          <ion-skeleton-text [animated]="true" class="w-full h-4"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" class="w-full h-4"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" class="w-40 h-4"></ion-skeleton-text>
        </p>
      </div>
    </ion-list>


    <!-- Tip -->
    <div *ngIf="loaded && tip">
      <img class="w-full h-64 mt-4 object-cover rounded"
        src="{{tip?.attributes?.imagen_tip.data[0].attributes.formats?.medium?.url || tip?.attributes?.imagen_tip.data[0].attributes.formats?.thumbnail.url}}"
        alt="">
      <div class="my-6">
        <h1 class="text-lg font-bold text-slate-800">{{tip?.attributes?.titulo}}</h1>
        <p class="text-slate-700">
          {{tip?.attributes?.descripcion}}
        </p>
      </div>
    </div>
  </div>
</ion-content>